// ? Import bulma -- all
@import "~bulma/bulma.sass";


// ? Font imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");



.carbonTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.airIcon {
  margin-top: 10px;
  
}

button {
  margin-left: 20px;
}


.CarbonDiv {
  margin-top: 20px;
}
